.pricing .toggle-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.pricing .toggle-buttons .button {
    padding: 1rem;
    width: 15rem;
    font-size: 1.8rem;
    color: white;
    border-radius: .5rem;
    background: grey;
    text-align: center;
    cursor: pointer;
}

.pricing .toggle-buttons .button:active {
    background: aquamarine;
}

.pricing .toggle-buttons .button:hover {
    background: bisque;
}

.pricing .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    background-color: wheat;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.pricing.box-container .box2 {
    padding: 2rem 2.5rem;
    display: flex;
    border-radius: .5rem;
}

.pricing.box-container.box2 h3 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: .5rem;
}

.pricing.box-container.box2 .price {
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: whitesmoke;
    animation: price .2s linear;
    transform-origin: top;
}

.pricing.box-container.box2 .price .year{
    display: none;
}

@keyframes price {
    0% {
        opacity: .5;
        transform: scaleY(.5);
    }
}

.pricing.box-container.box2 .price span:first-child {
    color: wheat;
    font-size: 2.5rem;
    font-weight: 600;
}

.pricing.box-container.box2 .price span:last-child {
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: 600;
}

.pricing.box-container .box2 .list {
    margin-top: 1.5rem;
    border-top: var(--border);
    padding-top: 1.5rem;
}

.pricing.box-container.box2 .list p {
    padding: 1rem 0;
    font-size: 1.6rem;
    color: white;
}

.pricing.box-container.box2 .list p i {
    margin-right: 1 rem;
    color: white;
}

.pricing.box-container.box2 .list p .fa-circle-check {
    color: green;
    background-color: green;
}

.pricing.box-container.box2 .list p .fa-circle-check {
    color: red;
    background-color: red;
}

.pricing .pricing.box-container.box2 p span {
    color: white;
}

.pricing.box-container.box2 .btn {
    width: 100%;
    text-align: center;
    border-radius: .5rem;
    color: white;
}

.pricing.box-container.box2:nth-child(2) {
    border: white;
    box-shadow: gold;
}