.text{
    text-align: center;
    text-shadow: 4px 4px 4px black;
    color: whitesmoke;
    font-size: 40px;
    margin-top: 40px;
}
.box1{
    margin-left: 540px;
    background-color: #b2d2f8;
    height: 360px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}
input{
    margin-top: 20px;
    height: 30px;
    width: 230px;
}
.pass{
    margin-top: 10px;
}
.submit{
    height: 40px;
    width: 240px;
    cursor: pointer;
    margin-top: 20px;
}

.or{
    font-size: medium;
    width: 250px;
    margin-left: 30px;
}

.signg{
    height: 40px;
    width: 250px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.signf{
    height: 40px;
    width: 250px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.sign-text p{
    font-size: 15px;
}

.sign-text button{
    height: 20px;
    width: 120px;
    background-color: lightcyan;
    color: black;
    cursor: pointer;
}